#galinha-normal {
    height: 32px;
    width: 32px;
    background: url("../img/Galinha1_Spritesheet.png") 0px 0px;
    animation: play 0.8s steps(6) infinite;
}

@keyframes play {
    100% {
        background-position: -192px;
    }
}

#galinha-rara {
    height: 32px;
    width: 32px;
    background: url("../img/Galinha5_Spritesheet.png") 0px 0px;
    animation: play2 0.8s steps(6) infinite;
}

@keyframes play2 {
    100% {
        background-position: -192px;
    }
}


.borderanimation {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderanimation::before{
    content: "";
    background-image: conic-gradient(
        #ffae00 10deg,
        transparent 150deg
    );
    width: 150%;
    height: 150%;
    z-index: -50;
    position: absolute;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.borderimg1 { 
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('../img/b.png') 20 round;
  }
  